@page "/bonuspurchased/discountpages/{Id:int}"
@inject UserBonusServices userBonusServices
@inject BonusServices bonusServices
@inject BonusSpendingServices bonusSpendingServices
@inject UserServices userServices
@inject IModalService myModal
@inject NavigationManager navManager

<h3>Discount Pages</h3>
<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Coupon Id: @userBonus.TRCId</h5>
            <h6 class="card-subtitle mb-2 text-muted">Coupon Type: @bonus.Name</h6>
            <p class="card-text has-text-link">Remaining pages: @remainingPages </p>
        </div>
    </div>
</div>

<EditForm Model="bonusSpending" OnValidSubmit="AddPageToDiscount">
    <DataAnnotationsValidator />
    <div class="field">
        <label class="label mt-3">Discount to apply</label>
        <div class="control">
            <InputNumber class="input" type="number" placeholder="Type number of pages" @bind-Value="@bonusSpending.SpentPages" />
            <ValidationMessage For="@(()=>bonusSpending.SpentPages)" />
        </div>

    </div>

    <button class="button is-success  is-link is-outlined" type="submit">Apply Discount</button>
    <a href="bonuspurchased/allbonus" style="text-decoration: none;" class="button is-info  is-link is-outlined">Back to List</a>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }
    public User user { get; set; }

    private BonusSpending bonusSpending = new BonusSpending();
    private int remainingPages;

    private UserBonus userBonus;
    private Bonus bonus;

    protected async override Task OnInitializedAsync()
    {
        userBonus = await userBonusServices.GetUserBonusAsync(Id);
        user = await userServices.GetUserAsync(userBonus.UserId);
        bonus = await bonusServices.GetBonusAsync(userBonus.BonusId);
        //remainingPages = bonus.Pages - userBonus.SpentPages;
        OnAfterRender(true);
    }

    private async Task AddPageToDiscount()
    {
        bonusSpending.User = user;
        bonusSpending.Bonus = bonus;
        bonusSpending.Date = DateTime.Now.ToString();
        bonusSpending.UserBonusId = userBonus.Id;
        if (await userBonusServices.DiscountPagesAsync(userBonus, bonusSpending.SpentPages) == false)
        {
            myModal.Show<ConfirmCreateComponent>("ERROR: The discount could not be applied...");
            return;
        }
        await bonusSpendingServices.AddBonusSpendingAsync(bonusSpending);

        var messageForm = myModal.Show<ConfirmCreateComponent>($"The discount has been applied.");
        var result = await messageForm.Result;

        navManager.NavigateTo("bonuspurchased/allbonus");

    }

    protected override void OnAfterRender(bool firstRender)
    {
        remainingPages = bonus.Pages - userBonus.SpentPages;
    }

}
