@page "/bonus/discountpages/{Id:int}"
@inject UserBonusServices userBonusServices
@inject BonusServices bonusServices
@inject BonusSpendingServices bonusSpendingServices
@inject UserServices userServices
@inject IModalService myModal

<h3>Discount Pages</h3>
<h1>@userBonus.TRCId</h1>

<EditForm Model="bonusSpending" OnValidSubmit="AddPageToDiscount">
    <DataAnnotationsValidator />
    <div class="field">
        <label class="label">Discount to apply</label>
        <div class="control">
            <InputNumber class="input" type="number" placeholder="Number input" @bind-Value="@bonusSpending.SpentPages" />
            <ValidationMessage For="@(()=>bonusSpending.SpentPages)" />
        </div>

    </div>

    <button class="button is-success is-light" type="submit">Discount Pages</button>
    <a href="bonus/allbonus" style="text-decoration: none;" class="button is-info is-light">Back to List</a>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }
    public User user { get; set; }

    private BonusSpending bonusSpending = new BonusSpending();

    private UserBonus userBonus;
    private Bonus bonus;

    protected async override Task OnInitializedAsync()
    {
        userBonus = await userBonusServices.GetUserBonusAsync(Id);
        user = await userServices.GetUserAsync(userBonus.UserId);
        bonus = await bonusServices.GetBonusAsync(userBonus.BonusId);
    }

    private async Task AddPageToDiscount()
    {
        bonusSpending.User = user;
        bonusSpending.Bonus = bonus;
        bonusSpending.Date = DateTime.Now;
        if (await userBonusServices.DiscountPagesAsync(userBonus, bonusSpending.SpentPages) == false)
        {
            myModal.Show<ConfirmCreateComponent>("ERROR: The discount could not be applied...");
            return;
        }
        await bonusSpendingServices.AddBonusSpendingAsync(bonusSpending);

        var messageForm = myModal.Show<ConfirmCreateComponent>($"The discount has been applied.");
        var result = await messageForm.Result;

        bonusSpending = new BonusSpending();
    }

}
