@inject CouponServices couponServices
@inject ClientCouponServices clientCouponServices
@inject ClientServices clientServices
@inject IModalService myModal
@inject NavigationManager navManager
@inject RefreshServices refreshServices

<div>
    <div class="field is-horizontal mb-0">
        <label class="label" for="CouponInput">Coupon:</label>
        <div class="control">
            <select name="coupon" id="CouponInput" @onchange="((arg)=> selectedValue = Convert.ToInt32(arg.Value))">
                <option value="0" selected=@selected>Select coupon</option>
                @foreach (var coupon in coupons)
                {
                    <option value="@coupon.Id">@coupon.Name</option>
                }
            </select>
        </div>
        <a class="button is-success is-small is-link is-outlined mx-2" @onclick="AddCouponToSelectBoxAsync">Add</a>
        <select name="coupon-selected mb-0" size="5" style="width:100px;" multiple>
            @foreach (var coupon in strCouponsToAddToClient)
            {
                <option>@coupon</option>
            }
        </select>
        <div>
            <a class="button is-danger is-small  is-link is-outlined mx-2" @onclick="Clear">Clear</a>
            <p class="is-size-7 is-small mt-1 ml-3">@strCouponsToAddToClient.Count Coupons selected</p>
        </div>
    </div>

    <button class="button is-success is-link is-outlined mx-1 mt-0" @onclick="AddCoupon" disabled=@DisabledAddCouponButton()>Add Coupon</button>
</div>

@code {
    [Parameter] public Client client { get; set; }
    List<Coupon> coupons = new List<Coupon>();
    private bool selected = false;
    private int selectedValue;
    private List<string> strCouponsToAddToClient = new List<string>();
    private List<int> intCouponsToAddToClient = new List<int>();
    List<ClientCoupon> clientCouponList = new List<ClientCoupon>();

    List<Coupon> couponsToAddToClient = new List<Coupon>();

    protected async override Task OnInitializedAsync()
    {
        coupons = await couponServices.GetAllCouponAsync();
    }

    private void Clear()
    {
        intCouponsToAddToClient = new List<int>();
        strCouponsToAddToClient = new List<string>();
        couponsToAddToClient = new List<Coupon>();
        clientCouponList = new List<ClientCoupon>();
    }

    private async Task AddCoupon()
    {
        foreach (var coupon in couponsToAddToClient)
        {
            clientCouponList.Add(new ClientCoupon
            {
                ClientId = client.Id,
                CouponId = coupon.Id,
                Date = DateTime.Now.ToString(),
                SpentPages = 0
            });
        }
        client.ClientCoupons = clientCouponList;

        if (clientCouponServices.AddListClientCouponAsyncWSQL(clientCouponList))
        {
            var messageForm = myModal.Show<ConfirmCreateComponent>($"The coupon has been added to {client.Email}.");
            var result = await messageForm.Result;
        }
        else
        {
            var messageForm = myModal.Show<ConfirmCreateComponent>($"ERROR: The coupons could not have been added.");
            var result = await messageForm.Result;
        }

        coupons = await couponServices.GetAllCouponAsync();
        selected = true;
        refreshServices.CallRequestRefresh();
        Clear();

    }

    private async Task AddCouponToSelectBoxAsync()
    {
        if (selected)
        {
            selected = false;
        }
        //To add only one type of coupon
        //if (selectedValue != 0 && intCouponsToAddToClient.Contains(selectedValue) == false)
        if (selectedValue != 0)
        {
            intCouponsToAddToClient.Add(selectedValue);
            Coupon couponToAddToClient = await couponServices.GetCouponAsync(selectedValue);
            couponsToAddToClient.Add(couponToAddToClient);
            strCouponsToAddToClient.Add(couponToAddToClient.Name);
        }
    }

    private bool DisabledAddCouponButton()
    {
        return strCouponsToAddToClient.Count == 0 ? true : false;
    }
}
