@inject IModalService myModal
@inject IStringLocalizer<Resource> localizer

<div class="pt-2">

    <p>@Message</p>

    <button @onclick="SubmitForm" class="button is-danger is-link is-outlined">@localizer["Yes"]</button>
    <button @onclick="Cancel" class="button is-primary is-link is-outlined">@localizer["Cancel"]</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string Message { get; set; }

    void SubmitForm() => BlazoredModal.Close(ModalResult.Ok<bool>(true));
    void Cancel() => BlazoredModal.Close(ModalResult.Ok<bool>(false));
}