@inject IModalService myModal

<div>
    <p>@Message</p>

    <button @onclick="SubmitForm" class="button is-success is-link is-outlined">Ok</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string Message { get; set; }

    void SubmitForm() => BlazoredModal.Close();
}