@inject IModalService myModal

<div class="is-horizontal-center">
    <p class="mb-3">@Message</p>
    @*<img src="image/spinner.gif" alt="Alternate Text" class="center" />*@
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string Message { get; set; }

    void SubmitForm() => BlazoredModal.Close();

    protected override void OnInitialized()
    {
        SubmitForm();
    }
}
