@page "/"
@inject UserServices userServices

<a href="bonus/allbonus" style="text-decoration:none;" class="button is-primary is-large">Discount Pages from Bonus</a>
<a href="users" style="text-decoration:none;" class="button is-primary is-large">Add Bonus to User</a>

@code{

}