@page "/"
@inject ClientServices clientServices
@inject IStringLocalizer<Resource> localizer

<div class="rows mt-6 pt-6" id="home-rows">
    <div class="row box has-text-centered" style="justify-content: center;">
        <a href="couponpurchased/allcoupon" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">@localizer["SetPagesToDiscount"]</a>
    </div>
    <div class="row box has-text-centered" style="justify-content: center;">
        <a href="clients" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">@localizer["AddCouponClient"]</a>
    </div>
    <div class="row box has-text-centered" style="justify-content: center;">
        <a href="clients/Create" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">@localizer["CreateNewClient"]</a>
    </div>
</div>

@code{

}