@page "/"
@inject UserServices userServices

<div class="rows mt-6 pt-6" id="home-rows">
    <div class="row box has-text-centered">
        <a href="bonuspurchased/allbonus" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">Set Pages to Discount</a>
    </div>
    <div class="row box has-text-centered">
        <a href="users" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">Add Coupon to Client</a>
    </div>
    <div class="row box has-text-centered">
        <a href="users/Create" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">Create New Client</a>
    </div>
</div>

@code{

}