@page "/"
@inject UserServices userServices

<div class="rows" id="home-rows">
    <div class="row box has-text-centered">
        <a href="bonus/allbonus" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">Discount Pages from Bonus</a>
    </div>
    <div class="row box has-text-centered">
        <a href="users" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">Add Bonus to User</a>
    </div>
    <div class="row box has-text-centered">
        <a href="users/Create" style="text-decoration:none;" class="button is-link is-outlined is-large mx-4">Create New User</a>
    </div>
</div>

@code{

}